{% extends "base.html.twig" %}
{% block body %}
<div>{{ annonce.titre }} </div>
    <div><a href="mailto:{{ annonce.membreid.email }}"> Contacter {{ annonce.membreid.pseudo }} {{ moyenne }}</a></div>
<div class="box">
    <div class="col-6">

        <img src="{{ dossier_images_annonces ~ annonce.photoid.photo1 }}" alt="monimg"  width="300px" height="300px"/>
    </div>
    <div class="col-6">
        description :
        {{ annonce.descriptionlongue  }}
    </div>
</div>
<div class="colums">
    <div class="column">date de publication: {{ annonce.dateenregistrement|date('d/m/Y')}}</div>
    <div class="column">Membre : {{ annonce.membreid.pseudo }}</div>
    <div class="column">Prix :{{ annonce.prix|replace({".00" : "" }) }} €</div>
    <div class="column">Adresse :{{ annonce.adresse ~ " " ~ annonce.cp ~ " " ~ annonce.ville}}</div>
</div>
<div>
    google maps
</div>
    <div>
autres annonces
        {% for photo in touteann %}
            <a href="{{ path("fiche_annonce", { id: photo.id }) }}"><img src="{{ dossier_images_annonces ~ photo.photoid.photo1 }}" alt="monimg" width="200px" height="200px" /></a>
        {% endfor %}
    </div>
    <div><a href="{{ path("attribuer_note", { pseudo: annonce.membreid.pseudo }) }}"> Commenter </a></div>

{% endblock %}
