{% extends"base.html.twig" %}

 {% block body %}

     {{ form_start(form) }}

     <div class="columns">
         {{ form_row(form.photo1) }}
         {{ form_row(form.photo2) }}
         {{ form_row(form.photo3) }}
         {{ form_row(form.photo4) }}
         {{ form_row(form.photo5) }}
     </div>
     <button class="button is-primary is-fullwidth">Ajouter</button>

     {{ form_end(form) }}
 {% endblock %}