{% extends 'base.html.twig' %}

{% block title %}Note du membre{% endblock %}

{#{% block body %}#}
{#<div class="title">#}
{#    <h1>Ajouter une note</h1>#}
{#</div>#}
{#    <div class="columns">#}
{#       <p><strong>Pseudo : </strong>{{ membre.pseudo }}</p>#}
{#       <p><strong>Date inscription : </strong>{{ membre.dateenregistrement|date("d/m/y") }}</p>#}
{#        <p class="column">#}
{#            <strong class="column is-one-third">Annonces</strong>#}
{#            <div class="column box">#}
{#                {%  for annonce in membre.annonces %}#}
{#                    <p>{{ annonce.titre }}</p>#}
{#                {% endfor %}#}
{#           </div>#}
{#        </p>#}

{#    <div class="column is-half box">#}
{#        {{ form_start(form) }}#}
{#        <button class="button is-primary is-fullwidth">Ajouter</button>#}
{#        {{ form_end(form) }}#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}

{% block body %}
    {# {{ form(form) }} #}

    {# {{ form_start(form)}}
        <h2>Veuillez noter cet individu : </h2>
    {{ form_end(form)}} #}


    <h1 class="title">Veuillez noter cet individu : </h1>
    <div class="columns section">
        <div class="column is-half">
            <p><strong>Pseudo : </strong>{{ membre.pseudo }}</p>
            <p><strong>Date d'inscription : </strong>{{ membre.dateenregistrement|date("d/m/y") }}</p>
            <p class="columns">
                <strong class="column is-one-third">Annonces : </strong>
                <div class="column">
                    {% for annonce in membre.annonces  %}
            <p>{{ annonce.titre }}</p>
            {% endfor %}
        </div>
        </p>
    </div>

    <div class="column box">
        <h1 class="title has-text-primary has-text-centered">Attribuer une note : </h1>

                {{ form_start(form) }}
                <button class="button is-primary is-fullwidth">Ajouter</button>
                {{ form_end(form) }}

    </div>
    </div>

{% endblock %}
