<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
{#     CSS#}
    {{ encore_entry_link_tags("app") }}
{#    JS#}
    {{ encore_entry_script_tags("app") }}

</head>
<body>
{% block header %}
        {%  if is_granted("ROLE_USER") %}
            {% include "menu/membre.html.twig" %}
        {% elseif is_granted("ROLE_ADMIN")%}
            {% include "menu/admin.html.twig" %}
        {% else %}
            {% include "menu/visiteur.html.twig" %}
        {% endif %}

{% endblock %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

{% block body %}
    <br>
        <div class="row">

            <aside class="col-4">
                <form method="POST">
                    <div class="control">
                        <div class="select">
                        <select name="categorie">
                            <option value="">Toutes les catégories</option>
                            {% for cat in categorie %}
                                <option value='{{ cat.id }}' {{ categorie_choisie == cat.id ? "selected" : ""  }}>  {{ cat.titre }} </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
<br>
                    <div class="control">
                        <div class="select">
                        <select name="region">
                            <option value="">Toutes les régions</option>
                            {% for ville in region %}
                                <option value='{{ ville.ville }}' {{ ville_choisie == ville.ville ? "selected" : ""  }} >  {{ ville.ville }} </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
<br>
                    <div class="control">
                        <div class="select">
                        <select name="membre">
                            <option value="">Tous les membres</option>
                                {% for m in user %}
                                        <option value='{{ m.id }}' {{ membre_choisi == m.id ? "selected" : ""  }}>  {{ m.pseudo }} </option>
                                {% endfor %}

                        </select>
                        </div>
                    </div>
                    <br>
                    <div>
                        <label><b>Prix</b> <output id="prixAffiche">{{ prix_choisi }}</output></label>&nbsp€<br>
                        <input type=range class="custom-range w-50" id="prix" name="prix" onchange="prixAffiche.innerHTML=this.value" min=0 max=100000 step="10" value="{{ prix_choisi }}">

                    </div>
                    <br>
                    <button class="button is-info is-rounded">Filtrer</button>
                    <br>
                    <br>
                    <div>
                        <p><u>Top Annonces (les plus anciennes)</u></p>
                        <ul>
                            {% for top in topannonce %}
                               <li>{{ loop.index }} - {{ top.titre }} - {{ top.date_enregistrement|date('d/m/Y') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p><u>Top Categories (plus d'annonces)</u></p>
                        <ul>
                            {% for top in topannonce %}
                                <li>{{ loop.index }} - {{ top.titre }} - {{ top.date_enregistrement|date('d/m/Y') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>
            </aside>
            <section class="col-8 box">
                {% if annonce|length %}
                    {% for ann in annonce %}
                        {% include "annonce/vignette.html.twig" %}
                    {% endfor %}
                {% else %}
                    <p>Aucune annonce ne corresponds aux critères demandés</p>
                {% endif %}
            </section>
        </div>

{% endblock %}

{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
