<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{#     CSS#}
    {{ encore_entry_link_tags("app") }}
{#    JS#}
    {{ encore_entry_script_tags("app") }}

</head>
<body>
{% block header %}
        {%  if is_granted("ROLE_USER") %}
            {% include "menu/membre.html.twig" %}
        {% elseif is_granted("ROLE_ADMIN")%}
            {% include "menu/admin.html.twig" %}
        {% else %}
            {% include "menu/visiteur.html.twig" %}
        {% endif %}

{% endblock %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{#    {% for message in app.flashes('error') %}#}
{#        <div class="alert alert-danger">#}
{#            {{ message }}#}
{#        </div>#}
{#    {% endfor %}#}

{% block body %}
    <br>
        <div class="row">

            <aside class="col-3">
                <form method="POST">
                    <div>
                        <label>Catégorie</label>
                        <select name="categorie">
                            <option value="">Toutes les catégories</option>
                            {% for cat in categorie %}
                                <option value='{{ cat.id }}' {{ categorie_choisie == cat.id ? "selected" : ""  }}>  {{ cat.titre }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label>Régions</label>
                        <select name="region">
                            <option value="">Toutes les régions</option>
                            {% for ville in region %}
                                <option value='{{ ville.ville }}' {{ ville_choisie == ville.ville ? "selected" : ""  }} >  {{ ville.ville }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label>Membres</label>
                        <select name="membre">
                            <option value="">Tous les membres</option>
                            {% for m in user %}
                                <option value='{{ m.id }}' {{ membre_choisi == m.id ? "selected" : ""  }}>  {{ m.pseudo }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div>
                        <label>Prix <output id="prixAffiche">{{ prix_choisi }}</output></label>&nbsp€<br>
                        <input type=range id="prix" name="prix" onchange="prixAffiche.innerHTML=this.value" min=0 max=100000 step="10" value="0">

                    </div>
                    <br>
                    <button>Filtrer</button>


                </form>
            </aside>
            <section class="col-9 box">
                {% if annonce|length %}
                    {% for ann in annonce %}
                        {% include "annonce/vignette.html.twig" %}
                    {% endfor %}
                {% else %}
                    <p>Aucune annonce ne corresponds aux critères demandés</p>
                {% endif %}
            </section>
        </div>

{% endblock %}

{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
